<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NovaCloud</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<header>

    <div class="logo">
        NovaCloud
    </div>

    <div class="nav-links">

        <a href="{{ url_for('login') }}">
            Login
        </a>

        <a href="{{ url_for('register') }}" class="nav-button">
            Create account
        </a>

    </div>

</header>


<main class="hero">

    <div class="hero-content">

        <p class="subtitle">
            CLOUD PLATFORM
        </p>

        <h1>
            Your files.<br>
            Your cloud.
        </h1>

        <p class="description">
            NovaCloud is a fictional cloud platform
            created for an educational demonstration.
        </p>

        <a
            href="{{ url_for('register') }}"
            class="button"
        >
            Get started
        </a>

    </div>

</main>

</body>
</html>