<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Account - NovaCloud</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body class="auth-page">

<div class="auth-box">

    <div class="logo">
        NovaCloud
    </div>

    <h1>
        Create account
    </h1>

    <p class="auth-description">
        Create your NovaCloud account.
    </p>


    {% if error %}

    <div class="error">
        {{ error }}
    </div>

    {% endif %}


    <form method="POST">

        <label for="username">
            Username
        </label>

        <input
            id="username"
            type="text"
            name="username"
            placeholder="Choose a username"
            required
        >


        <label for="password">
            Password
        </label>

        <input
            id="password"
            type="password"
            name="password"
            placeholder="Choose a password"
            required
        >


        <button type="submit">
            Create account
        </button>

    </form>


    <p class="switch">
        Already have an account?

        <a href="{{ url_for('login') }}">
            Login
        </a>
    </p>

</div>

</body>
</html>